:root {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--dark-900-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --dark-900-color: #242424;
  --dark-800-color: #2b2b2b;
  --border-color: #656565;
  --medium-gray-color: #9e9e9e;
  --white-color: #ffffff;

  --alerta-error: #ff4545;
  --alerta-error-dark: #c23838;
  --alerta-success: #6bcd75;

  --button-color: #3bdb4b;
  --button-color-dark: #00a711;
  --secundary-color: #51a1ff;
  --secundary-color-dark: #1275ea;
  --accent-color: #fa7219;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-grow: 1;
}
header,
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 1;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--dark-900-color);
    background-color: var(--white-color);
  }
  a:hover {
    color: var(--secundary-color-dark);
  }
  button {
    background-color: var(--button-color);
    color: var(--white-color);
  }
}

/* Container */
.hidden {
  display: none;
}
.container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  background-color: var(--dark-800-color);
  padding: 32px;
  border-radius: 16px;
}

form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 8px 16px;
  border: var(--border-color) 1px solid;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;

  & input {
    flex-grow: 1;
    border-radius: none;
    border: none;
    background: none;

    &:focus {
      outline: none;
      border: none;
    }
  }

  & button {
    width: 30px;
    height: 30px;
    background-color: var(--button-color);
    color: var(--white-color);
    border: none;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
    padding-top: 4px;

    &:hover {
      background-color: var(--button-color-dark);
    }

    img {
      width: 16px;
    }
  }
}

.alert {
  font-size: 21px;
  color: var(--white-color);
  padding: 32px 16px;
  border-radius: 4px;

  &.alert-error {
    background-color: var(--alerta-error);
  }
  &.alert-success {
    background-color: var(--alerta-success);
  }
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul#nav-list {
  display: flex;
  color: var(--accent-color);
  font-weight: 700;

  li {
    padding: 4px 16px;
    border: 1px solid var(--accent-color);

    &:first-child {
      border-radius: 8px 0 0 8px;
    }
    &:last-child {
      border-radius: 0 8px 8px 0;
    }
    &.nav-active {
      background-color: var(--accent-color);
      color: var(--white-color);
    }
  }
}

ul#list-tasks {
  border-top: var(--border-color) 1px solid;
}
/* Task no completed */
li.task {
  padding: 16px;
  border-bottom: var(--border-color) 1px solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  img.icon {
    width: 20px;
    height: 20px;
  }
  p.task-title {
    flex-grow: 1;
    text-align: left;
    padding: 0px 16px;
    line-height: 1.2;
  }
/* Task completed */
  &.completed {
    background-color: var(--dark-800-color);
    color: var(--dark-900-color);
    p.task-title {
      text-decoration: line-through;
      color: var(--medium-gray-color);
    }
  }
}

#actions-task {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  .actions {
    display: flex;
    align-items: center;
    padding: 0px 8px;
    gap: 8px;
    background-color: var(--alerta-error-dark);

    button {
      padding: 0px;
      margin: 0px;
      background-color: transparent;
      border: none;
      width: auto;
    }
  }
  button {
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    transition: opacity 500ms ease;
    border: none;
    padding: 0px;

    &:hover {
      opacity: 0.7;
    }

    &#button-edit {
      background-color: var(--secundary-color);
      border-radius: 4px 0 0 4px;
      padding-top: 2px;
    }

    &#button-delete {
      background-color: var(--alerta-error);
      border-radius: 0px 4px 4px 0px;
      padding-top: 2px;
    }
  }
}
