html,
body {
  height: 100%;
  display: grid;
  place-items: center; /* Centra horizontal y verticalmente */
  margin: 0;
}
body {
  width: 98%;
  height: 95vh;
  background-color: #85cc7b;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px;
}
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: top;
  gap: 12px;
}
header {
  width: 100%;
  height: auto;
  padding: 16px;
  text-align: center;
  background-color: #fff;
  color: #85cc7b;
}
main {
  border: 1px solid #fff;
  padding: 12px;
  flex-grow: 1;

  &.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    justify-items: center;
    align-items: center;

    h2{
        font-size: 2rem;
        font-weight: 900;
        color: #e4efe2d6;
    }

    .button-game {
      gap: 12px;
      display: flex;

      button {
        width: 80px;
        height: 40px;
        border: 1px solid #fff;
        background-color: #fff;
        color: #85cc7b;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.2s;
        &:hover {
          background-color: #85cc7b;
          color: #fff;
          border: 1px solid #fff;
        }
      } /* use 100%  all columnas of grid */
    }
  }
}

.player-cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: 25px;
}
.card {
  width: 120px;
  height: auto;
  margin-left: -25px;
  transition: margin 350ms, filter 350ms;
  transition-delay: 200ms;
  filter: drop-shadow(0 0 10px #31313146);
  &:hover {
    margin-top: 8px;
    margin-bottom: -8px;
    filter: drop-shadow(0 0 10px #31313163);
  }
}
